# Unreal typical
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Plugins/Developer/
.vscode/
.idea/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userprefs
*.DotSettings.user
*.opensdf
*.sdf
*.log
*.vs/

# Build artifacts
*.dll
*.exe
*.pdb
*.lib
*.exp

# System / OS
.DS_Store
Thumbs.db
desktop.ini
