# Normalize line endings
* text=auto eol=lf

# Unreal binary assets (не трогаем)
*.uasset binary
*.umap binary
*.wav binary
*.png binary
*.jpg binary
*.dds binary
*.ttf binary
*.otf binary
*.mp4 binary
*.mov binary

# Windows solution files (CRLF)
*.sln text eol=crlf
*.bat text eol=crlf
